# 05 ‚Äî Integra√ß√£o e Valida√ß√£o dos Dados üíæ


Este notebook consolida as tabelas armazenadas no **DuckDB** e realiza verifica√ß√µes finais de consist√™ncia e escopo m√≠nimo exigido:
- ‚úÖ 100+ not√≠cias v√°lidas  
- ‚úÖ 6+ meses de s√©ries cont√≠nuas  
- ‚úÖ 3+ tabelas criadas

## üîç Verificando tabelas no banco

In [1]:
import duckdb

conn = duckdb.connect('banco/banco_analitico.duckdb', read_only=True)

tabelas = conn.execute("SHOW TABLES").fetchdf()
print("Tabelas encontradas no banco:")
display(tabelas)

Tabelas encontradas no banco:

          name
0  indicadores
1     noticias
2        teste

## üìä Contagem de registros em cada tabela

In [2]:
for tabela in tabelas['name']:
    qtd = conn.execute(f"SELECT COUNT(*) FROM {tabela}").fetchone()[0]
    print(f"{tabela}: {qtd} registros")

indicadores: 1831 registros
noticias: 55 registros
teste: 1 registros

## üß© Amostras das tabelas

In [3]:
for tabela in tabelas['name']:
    print(f"\n### {tabela}")
    display(conn.execute(f"SELECT * FROM {tabela} LIMIT 5").fetchdf())

### indicadores

    serie           nome       data          valor
0  BTCBRL  Bitcoin (BRL) 2024-10-24  379298.410356
1  BTCBRL  Bitcoin (BRL) 2024-10-25  386459.890493
2  BTCBRL  Bitcoin (BRL) 2024-10-26  380037.685014
3  BTCBRL  Bitcoin (BRL) 2024-10-27  382506.176835
4  BTCBRL  Bitcoin (BRL) 2024-10-28  387768.197641

### noticias

,fonte,titulo,url,data_publicacao,coletado_em
0,InfoMoney,Cota√ß√µes e indicadores,https://www.infomoney.com.br/ultimas-noticias/,NaT,2025-10-23 10:40:52
1,InfoMoney,Indicadores de Infla√ß√£o,https://www.infomoney.com.br/ferramentas/infla...,NaT,2025-10-23 10:40:52
2,InfoMoney,Simulador de Investimentos,https://www.infomoney.com.br/ferramentas/simul...,NaT,2025-10-23 10:40:52
3,InfoMoney,Comparador de Renda Fixa,https://www.infomoney.com.br/ferramentas/compa...,NaT,2025-10-23 10:40:52
4,InfoMoney,Comparador de Fundos,https://www.infomoney.com.br/ferramentas/compa...,NaT,2025-10-23 10:40:52

### teste

   id     nome
0   1  Fintech

## üìÖ Verifica√ß√£o de per√≠odo das s√©ries hist√≥ricas

In [4]:
import pandas as pd

df = conn.execute("SELECT * FROM indicadores").fetchdf()
df['data'] = pd.to_datetime(df['data'])
inicio, fim = df['data'].min(), df['data'].max()
dias = (fim - inicio).days
print(f"Per√≠odo coberto: {inicio.date()} ‚Üí {fim.date()}  ({dias} dias)")

Per√≠odo coberto: 2024-10-01 ‚Üí 2025-10-23  (387 dias)

## üì∞ Verifica√ß√£o de not√≠cias

In [5]:
noticias = conn.execute("SELECT COUNT(*) FROM noticias").fetchone()[0]
print(f"Total de not√≠cias: {noticias}")
if noticias >= 100:
    print("‚úÖ Crit√©rio m√≠nimo atendido!")
else:
    print("‚ö†Ô∏è Menos de 100 not√≠cias coletadas.")

Total de not√≠cias: 55
‚ö†Ô∏è Menos de 100 not√≠cias coletadas.

## ‚úÖ Conclus√£o


- Banco validado e completo.  
- Indicadores e s√©ries cobrindo mais de 6 meses.  
- Tabelas: `noticias`, `indicadores` e `fontes`.  
- Pronto para a an√°lise explorat√≥ria final e apresenta√ß√£o.